@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  line-height: 1;
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", "メイリオ", sans-serif;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
}

a:hover {
  opacity: .8;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  width: 100%;
}

input, select {
  vertical-align: middle;
}

.slide__block-sarea {
  padding-top: 9.33vw;
}

@media screen and (min-width: 768px) {
  .slide__block-sarea {
    padding-top: 45px;
  }
}

.slide__block-box {
  padding-bottom: 13vw;
}

@media screen and (min-width: 768px) {
  .slide__block-box {
    padding-bottom: 75px;
  }
}

.slide__block-slide01 {
  width: 95%;
  margin: 0 2%;
}

@media screen and (min-width: 768px) {
  .slide__block-slide01 {
    width: 800px;
    margin: auto;
  }
}

.prc-slide .slide-arrow {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 10;
  width: 5vw;
  top: 40%;
}

@media screen and (min-width: 768px) {
  .prc-slide .slide-arrow {
    width: 17px;
  }
}

.prc-slide .next-arrow {
  right: -5vw;
  width: 5.2vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .next-arrow {
    right: -25px;
    width: 17px;
  }
}

.prc-slide .prev-arrow {
  left: -6vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .prev-arrow {
    left: -30px;
  }
}

.prc-slide .slick-dots {
  position: relative;
  list-style: none;
  bottom: -4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .prc-slide .slick-dots {
    bottom: -35px;
  }
}

.prc-slide .slick-dots li {
  width: 2vw;
  height: 2vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .slick-dots li {
    width: 6px;
    height: 6px;
  }
}

.prc-slide .slick-dots li button {
  position: relative;
  text-indent: -9999px;
}

.prc-slide .slick-dots li button:before {
  position: absolute;
  content: "";
  display: block;
  background: #C3C3C3;
  border-radius: 50%;
  opacity: 1;
  width: 2vw;
  height: 2vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .slick-dots li button:before {
    width: 6px;
    height: 6px;
  }
}

.prc-slide .slick-dots li button, .prc-slide .slick-dots li {
  width: 2vw;
  height: 2vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .slick-dots li button, .prc-slide .slick-dots li {
    width: 6px;
    height: 6px;
  }
}

.prc-slide .slick-dots li {
  margin: 0 2vw;
}

@media screen and (min-width: 768px) {
  .prc-slide .slick-dots li {
    margin: 0 5px;
  }
}

.prc-slide .slick-dots li.slick-active button:before {
  background: #000;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */